<script src="https://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=false"></script>
<div class="ride-alert">
	<div class="ride-alert-parent">
		<div class="ride-alert-box" id="rideAlert">
			<div class="alert-data">
				<div class="alert-img">
					<img src="<%=user.linkData.initiatorImg%>" alt="img" id="userImg">
				</div>
				<div class="alert-box">
					<div class="alert-heading"><p><b><%=user.linkData.name%></b> has sent an Uber to take you to:</p></div>
					<div class="ride-info">
						<div class="ride-destination">
							<div class="dest-data" id="destination">
								<img src="http://www2.psd100.com/ppp/2013/11/0501/Map-marker-icon-1105213652.png" alt="marker">
								<p><b><%=user.linkData.destination.length>35?(user.linkData.destination.substr(0,35)+"..."):(user.linkData.destination)%></b></p>
							</div>
							<div class="search-address hide" id="searchDestAddress">
								<div class="search-address-container">
									<img src="http://p.ptcdn.info/485/001/000/22029_7454250620_1-navigation-back_m.jpg" alt="back" id="backToDest">
									<input type="text" id="destSearch" placeholder="Enter a destination"/>
									<img src="/images/close-icon.png" alt="back" class="clear-text">
								</div>
							</div>
						</div>
						<div class="appx-time" id="pickupTime">
							<p>Finding the nearest cab </p>
							<img src="/images/23.GIF"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accept-ride" id="acceptRide">
			ACCEPT
		</div>		
	</div>
</div>
<div class="parent-container">
	<div id="map"></div>
	<div class="ride-confirm-data hide">
		<div class="map-details" id="mapDetails">
			<div class="map-header">
				<div class="pickup-data">
					<p class="current-loc-head"><span class="highlighted">PICKUP LOCATION</span></p>
					<div class="location-pickup" id="locationPickup">
						<p id="currentAddress">Getting your location</p>
						<img src="http://preloaders.net/preloaders/712/Floating%20rays.gif" id="loader"/>
					</div>
					<div class="search-address search-address-padding hide" id="searchAddress">
						<div class="search-address-container">
							<img src="/images/graph-previous.png" alt="back" id="backToPickup">
							<input type="text" id="searchTextField" placeholder="Enter your pickup location"/>
							<img src="/images/close-icon.png" alt="back" class="clear-text">
						</div>
					</div>
				</div>
				<!-- <div class="destination-data">
					<p class="current-loc-head">Destination</p>
					<div class="location-pickup" id="destination">
						<%=user.linkData.destination.length>35?(user.linkData.destination.substr(0,35)+"..."):(user.linkData.destination)%>
					</div>
					<div class="search-address hide" id="searchDestAddress">
						<div class="search-address-container">
							<img src="http://p.ptcdn.info/485/001/000/22029_7454250620_1-navigation-back_m.jpg" alt="back" id="backToDest">
							<input type="text" id="destSearch"/>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div class="ride-confirm-box" id="rideConfirm">
			<div class="confirm-data">
				<div class="confirm-heading"><p></p></div>
				<div class="confirm-ride" id="confirmRide">
					CONFIRM RIDE
				</div>
				<div class="ride-estimate">
					<div id="currentEstimate">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ride-success-box hide">
		<div class="ride-data">
			<div class="ride-left">
				<p><b><span id="driverName"></span>(<span id="rating"></span> stars</b>) - <span id="phNum"></span></p>
				<p>Car - <b><span id="carDetails"></span></b></p>
				<p>Car Plate - <b><span id="carLicense"></span></b></p>
				<p>Reaching to you in <b><span id="eta"></span>  minutes</b></p>
				<!-- <p>Phone: <b><span id="phNum"></span></p> -->
			</div>
			<div class="ride-right">
				<div class="image">
					<img src="" alt="driver_picture" id="driverPic"/>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay hide"></div>
</div>
<div class="searching-msg hide">
	<div class="top-section">
		<span id="searchMsg">Requesting the nearest cab </span><img src="http://preloaders.net/preloaders/712/Floating%20rays.gif"/>
	</div>
	<div class="cancel-section">
		<div id="cancelButton">Cancel Ride</div>
	</div>
</div>
<style>
	.pac-container{
		z-index: 99999;
	}
	.pac-container:after{
		background-image: none;
		content: none;
	}
	.ride-alert-parent{
		position: absolute;
		top: 30%;
		right: 0;
		left: 0;
		margin: 0 auto;
		width: 90%;
		z-index: 99999;
	}
	.ride-success-box{
		position: absolute;
	    top: 70%;
	    background: white;
	    width: 100%;
	}
	.ride-alert-box{
		font-size: 18px;
		background: #00bed6;
	    line-height: 5px;
	    width: 100%;
	    color: white;
	    z-index: 99999;
	    border-radius: 15px;
	    margin: 0 0 15px 0;
	}
	#userImg{
		border-radius: 80px;
		border: 2px solid white;
		width: 20%;
		position: absolute;
    	top: -43px;
    	left: 40%;
	}
	.ride-destination{
		background: white;
	}
	.dest-data , .search-address{
		padding: 12px 0;
		width: 95%;
		color: gray;
		margin: 5px auto;
	}
	.search-address-padding{
		padding: 0px;
	}
	.dest-data p, .dest-data img{
		display: inline-block;
		vertical-align: middle;
	}
	.dest-data img{
		/*float: right;*/
		opacity: 0.5;
	}
	.dest-data p{
		/*float: left;*/
		width: 85%;
		font-size: 13px;
		text-align: left;
	}
	.appx-time{
		padding: 8px 0 22px 0;
		font-size: 13px;
	}
	.searching-msg span, .searching-msg img{
		vertical-align: middle;
	}
	
	.location-pickup{
    	font-size: 14px;
	    padding: 10px 0px;
	    width: 80%;
	    text-align: center;
	    margin: 0 auto;
	}

	/*.search-address{
		padding: 12px 0;
	}*/
	
	.location-pickup p, .location-pickup img, .appx-time p, .appx-time img, .search-address-container img, .search-address-container input{
	    display: inline-block;
	    vertical-align: middle;
	}
	.location-pickup img, .searching-msg img, .appx-time img{
		width: 5%;
	}
	.search-address-container img{
		width: 7%;
	}
	
	.appx-time img{
		width: 10%;
    	padding-top: 3px;
	}
	.parent-container{
		font-size: 14px;
	}
	.ride-confirm-box{
		position: fixed;
		bottom: 0;
		width: 100%;
		font-size: 16px;
		color:white;
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(89, 86, 86, 0.5), #484949);
		text-align: center;
	}
	#confirmRide{
		background:#9DCF03;
		padding: 20px 0px;
		text-align: center;
		font-size: 16px;
		width: 70%;
		margin: 0 auto;
		border-radius: 10px;
	}
	.ride-estimate{
		padding: 40px 0 20px;
		color: white;
		font-size: 12px;
	}
	#map{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
    	min-height: 100%;
	}

	.search-address-container input {
	    width: 79%;
	    padding: 5px 5px;
	    font-size: 13px;
	    border:none;
	}
	.searching-msg{
	    position: absolute;
	    top: 35%;
	    left: 0px;
	    padding: 10% 0% 5%;
	    width: 100%;
	    text-align: center;
	    background: white;
	    z-index: 99999;
	}
	.cancel-section{
		border: 1px solid black;
	    width: 25%;
	    border-radius: 5px;
	    margin: 20px auto 0;
	    padding: 9px 15px;
	}
	.current-loc-head{
		padding: 10px 0px 0px;
		font-size: 10px;
    	color: #05A405
	}
	#currentAddress{
		line-height: 15px;
	}
	.alert-heading{
		padding: 5px 0 0;
		font-size: 14px;
		width: 80%;
    	margin: 0 auto 14px;
	}
	.alert-data{
		text-align: center;
		line-height: 20px;
		padding: 25px 0 0;
	}
	
	.ride-left{
		display: inline-block;
		width: 65%;
		line-height: 20px;
	}

	.ride-right{
		display: inline-block;
		width:30%;
		float: right;
	}

	.ride-data{
		margin-left: 10px;
		font-size: 14px;
	}

	.hide{
		display: none;
	}

	#driverPic{
		max-width: 100%;
		max-height: 100%;
	}
	.overlay{
	    position:absolute;
	    top:0;
	    left:0;
	    right:0;
	    bottom:0;
	    background-color:rgba(0, 0, 0, 0.55);
	    z-index:9999;
	    color:white;
	}
	.map-details{
	    background: white;
	    position: relative;
	    width: 90%;
	    text-align: center;
	    margin: 5% auto;
	}
	.pickup-data, .destination-data{
		border: 1px solid #DDDFDD;
	}
	.accept-ride{
		/*position: absolute;*/
		cursor:pointer;
		width: 65%;
		margin: 0 auto;
		padding: 7% 0;
		/*top: 60%;*/
		/*left: 18%;*/
		background: #9DCF03;
		text-align: center;
		font-size: 16px;
		color: white;
		word-spacing: 2px;
		z-index: 99999;
		border-radius: 15px;
	}
	.highlighted{
		color:#00bed6;
	}
	#map .centerMarker{
		position:absolute;
		/*url of the marker*/
		background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
		/*center the marker*/
		top:50%;left:50%;
		z-index:1;
		/*fix offset when needed*/
		margin-left:-10px;
		margin-top:-34px;
		/*size of the image*/
		height:34px;
		width:20px;
		cursor:pointer;
	}

	@media screen and (max-width:360px){

	}
	@media screen and (max-width:320px){
		.ride-alert-parent {
			top: 20%;
		}
		.ride-alert-box{
			font-size: 16px;
		}
	}
</style>

<script type="text/javascript">
	var userData = <%-JSON.stringify(user.linkData)%>;
	var destLat = userData.destLat;
	var destLong = userData.destLong;
	var destAddress = userData.destination;
	var pickupLat, pickupLong, markerPick, pickUpAddress;
	// var latlngB = {lat: destLat, lng: destLong};
	(function showLocation(){
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(showPosition);
		} else {
			alert('doesnt support location');
		}
	})();
	function showPosition(position, from){
		console.log(position);
		var geocoder = new google.maps.Geocoder;
		var latlng = {lat: position.coords.latitude, lng: position.coords.longitude};
		console.log(latlng);
		getTimeEstimate(latlng, userData.productId, userData.token);
		geocoder.geocode({'location':latlng}, function(results, status) {
    		if (status === google.maps.GeocoderStatus.OK) {
				if (results[1]) {
					if(!from || from == 'pickup' || from == 'map-drag'){
						pickUpAddress = results[2].formatted_address;
						if(pickUpAddress.length > 35){
							document.getElementById('currentAddress').innerHTML = pickUpAddress.substr(0, 30)+"...";
						}else{
							document.getElementById('currentAddress').innerHTML = pickUpAddress;
						}
						
						document.getElementById('searchTextField').value = results[2].formatted_address;
						var parent = document.getElementById('locationPickup');
						var child = document.getElementById('loader');
						if(child) parent.removeChild(child);
						pickupLat = position.coords.latitude;
						pickupLong = position.coords.longitude;
						if(!from || from == 'pickup'){
							createMap(pickupLat, pickupLong);
						}
					}else if(from == 'dest'){
						destAddress = results[0].formatted_address;
						destLat = position.coords.latitude;
						destLong = position.coords.longitude;
						if(destAddress.length > 35){
							document.getElementById('destination').innerHTML = destAddress.substr(0, 30)+"...";
						}else{
							document.getElementById('destination').innerHTML = destAddress;
						}
					}
				} else {
					document.getElementById('currentAddress').innerHTML('Unknown Location');
				}
			} else {
				// window.alert('Geocoder failed due to: ' + status);
				alert('Could not get your location');
			}
		});
	}

	function createMap(lat, long){
		var userCenter = new google.maps.LatLng(lat, long);
		var dest = new google.maps.LatLng(destLat, destLong);
		var mapProp = {
			center: userCenter,
			zoom: 15,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			disableDefaultUI: true
		};
		var userMap=new google.maps.Map(document.getElementById("map"), mapProp);
		// markerPick = new google.maps.Marker({
		// 	position: userCenter,
		// 	label: 'Pickup Location',
		// 	//icon: add image saying 'pickup location'
		// 	// draggable:true
		// });
		$('<div/>').addClass('centerMarker').appendTo(userMap.getDiv());
		// var markerDest = new google.maps.Marker({
		// 	position: dest,
		// 	title: 'Destination'
		// });
		var inputPickup = document.getElementById('searchTextField');
		// var input = document.getElementById('locationPickup');         
	    var autocompletePickup = new google.maps.places.Autocomplete(inputPickup, {
	        types: ["geocode"]
	    });

	    var inputDest = document.getElementById('destSearch');
	    var autocompleteDest = new google.maps.places.Autocomplete(inputDest, {
	        types: ["geocode"]
	    });

	    autocompletePickup.bindTo('bounds', userMap);
		// markerPick.setMap(userMap);
		// markerPick.bindTo('position', userMap, 'center');
		// markerDest.setMap(userMap);
		userMap.addListener('dragend', function(){
			// console.log(markerPick.getPosition().lat(), markerPick.getPosition().lng());
			var position = {
				coords:{
					latitude: userMap.getCenter().lat(),
					longitude: userMap.getCenter().lng()
				}
			};
			console.log(position);
			showPosition(position, 'map-drag');
		});
		// google.maps.event.addListener(markerPick, 'dragend', function(evt){
		// 	var position = {
		// 		coords:{
		// 			latitude: evt.latLng.lat(),
		// 			longitude: evt.latLng.lng()
		// 		}
		// 	};
		// 	showPosition(position);
		// });
		google.maps.event.addListener(autocompletePickup, 'place_changed', function() {
	        var place = autocompletePickup.getPlace();
	        var changedPos = {
	        	coords:{
	        		latitude: place.geometry.location.lat(),
	        		longitude: place.geometry.location.lng()
	        	}
	        };
	        showPosition(changedPos, 'pickup');
	    });
	    google.maps.event.addListener(autocompleteDest, 'place_changed', function() {
	        var place = autocompleteDest.getPlace();
	        var changedPos = {
	        	coords:{
	        		latitude: place.geometry.location.lat(),
	        		longitude: place.geometry.location.lng()
	        	}
	        };
	        // $('#searchDestAddress').addClass('hide');
	        // $('#destination').removeClass('hide');
	        showPosition(changedPos, 'dest');
	    });
	}
	function getTimeEstimate(position, productId, token){
		$.ajax({
			url: '/pickup/estimate',
			type: 'POST',
			data: {pickup: position, product_id: productId, userToken: token},
			success: function(estimateData){
				if(estimateData.length>0){
					$('#pickupTime').text('PICKUP TIME IS ABOUT '+Math.ceil((estimateData[0].estimate)/60)+' MIN');
					$('#currentEstimate').html('PICKUP TIME IS ABOUT <span class="highlighted">'+Math.ceil((estimateData[0].estimate)/60)+' MINUTES</span>');
				}else{
					$('#pickupTime').text('Sorry, we could not find a cab. Please try again later');
					$('#currentEstimate').html('Sorry, we could not find a cab. Please reload to try again');
				}
			}
		});
	}
</script>